body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    background:black;
    display: inline-block;
    width: 400px;
    height: 400px;
    height: fit-content;
    border: 5px solid black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 120px); 
    grid-template-rows: repeat(8,120px); 
}

.cell {
    font-family: Arial;
    font-weight: bold;
    background: white;
}